section{
    display: flex;
    flex-direction: column;
    background-color: #2B3748;
    margin: 20px;
    padding: 80px;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    font-size: 24px;
    
}
.right{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
a {
    color: white;
    padding-left: 30px
}
a:hover{
    color: blueviolet;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.name{
    font-size: 50px;
    
}
.title{
    font-size: 24px;
    color: #9747FF;
    
}
.headline{
    font-size: 20px;
}
.logos{
    padding: 50px;
}


@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2B3748;
        background-position: 100%;
        padding: 10%;
        margin: 10px;
    }
    .name {
        font-size: 24px;
        align-content: center; 
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    .left{
        align-items: center;
    }
    .right{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        content: normal;
    }
    .home-a{
        align-items: center;
        
    }
    .home-b{
        width: 100%;
        height: auto;
    }
    .home-b img {
        width: 100%;
        height: auto;
      }
  }
